version: "3.9"

services:
  postgres:
    image: postgres:15
    environment:
      POSTGRES_DB: pix
      POSTGRES_USER: pix
      POSTGRES_PASSWORD: pix
    ports:
      - "5432:5432"

  mongo:
    image: mongo:6

  kafka:
    image: confluentinc/cp-kafka:7.5.0

  rabbitmq:
    image: rabbitmq:3-management

  pix-api-java:
    build: ../services/pix-api-java
    depends_on: [postgres, kafka]
    environment:
      DB_URL: jdbc:postgresql://postgres:5432/pix
      DB_USER: pix
      DB_PASS: pix
    ports:
      - "8080:8080"

  pix-api-node:
    build: ../services/pix-api-node
    depends_on: [mongo, kafka]
