<div class="card">
  <h2>{{ 'BENEFITS.TITLE' | translate }}</h2>
  
  <div *ngIf="loading" class="loading">{{ 'BENEFITS.LOADING' | translate }}</div>
  <div *ngIf="error" class="error">{{ 'BENEFITS.ERROR' | translate }}</div>
  
  <table *ngIf="!loading && !error">
    <thead>
      <tr>
        <th>{{ 'BENEFITS.TABLE.ID' | translate }}</th>
        <th>{{ 'BENEFITS.TABLE.NAME' | translate }}</th>
        <th>{{ 'BENEFITS.TABLE.DESCRIPTION' | translate }}</th>
        <th>{{ 'BENEFITS.TABLE.DISCOUNT' | translate }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let benefit of benefits">
        <td>{{ benefit.id }}</td>
        <td>{{ benefit.name }}</td>
        <td>{{ benefit.description }}</td>
        <td>{{ benefit.discountPercentage }}</td>
      </tr>
      <tr *ngIf="benefits.length === 0">
        <td colspan="4" style="text-align: center;">{{ 'BENEFITS.NO_DATA' | translate }}</td>
      </tr>
    </tbody>
  </table>
</div>
